<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">


       <security:http auto-config="true" use-expressions="true">
              <security:csrf disabled="true" />

              <security:intercept-url pattern="/signin*" access="hasRole('ROLE_USER')" />
              <security:intercept-url pattern="/addannouncement" access="isAuthenticated()" />

              <security:form-login login-page="/signup" login-processing-url="/j_spring_security_check"  default-target-url="/signin"
                      username-parameter="username"
                      password-parameter="password"/>
                <security:logout logout-url="/logout" logout-success-url="/temporaryjob" />
       </security:http>

       <security:authentication-manager>
              <security:authentication-provider>
                     <security:jdbc-user-service
                             data-source-ref="dataSource"
                             users-by-username-query="select username,password,enabled from User where username=?"
                             authorities-by-username-query="select us.username, ur.authority from User us, Role ur
                                                            where us.user_role_id = ur.User_Role_Id and us.username =?" />


              </security:authentication-provider>
       </security:authentication-manager>
</beans>